 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CodeLab es una asociación de estudiantes de la Universidad de Zaragoza sin ánimo de lucro</p>
                </div>
                <div class="col-lg-4">
                    <p>Somos un punto de encuentro para todo aquel interesado en el mundo de la informática, impartimos charlas,
                       talleres, organizamos hackathones y más</p>
                </div>
            </div>
        </div>
    </section>
