 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CodeLabZGZ es una asociación nacida en la Universidad de Zaragoza por estudiantes de informática</p>
                </div>
                <div class="col-lg-4">
                    <p>Nuestro objetivo es la realización de actividades relacionadas con la informática, como charlas, talleres o hackathones.</p>
                </div>
            </div>
        </div>
    </section>
